.DS_Store
.thumbs.db
node_modules
npm-debug.log*
selenium-debug.log
test/unit/coverage
test/e2e/reports
!.gitkeep
.*swp
yarn-debug.log*
yarn-error.log*
.byebug_history
coverage
.bundle
.quasar
src/statics
.vscode
www
